<div class="cart-form flex flex-col h-[100vh] justify-center items-center py-7 gap-10px">
  {% if cart.item_count > 0 %}
  <h1 class="text-3xl">CART</h1>
  <form  class="mt-[10vh]" action="/cart" method="post" novalidate>
    <table class="bg-red-400">
      <thead class="grid grid-cols-4">
        <th>Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody class="bg-green-400">
        {% for item in cart.items %}
          <tr class="grid grid-cols-4">
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="flex justify-end items-center gap-7 mt-5">
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update" class="bg-[black] text-white px-5 py-3">Update</button>
      <button type="submit" name="checkout" class="bg-[black] text-white px-5 py-3">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}
</div>