<div class="cart-form flex flex-col h-[100vh] justify-center items-center py-7 gap-10px">
  {% if cart.item_count > 0 %}
  <h1 class="mb-[10vh] text-2xl">CART</h1>
  <form action="/cart" method="post" novalidate>
    <table>
      <thead class="w-full">
        <div class="grid grid-cols-4 mx-[5vw]">
			<div class="text-center mx-auto">Prod</div>
	        <div class="text-center mx-auto">Price</div>
	        <div class="text-center mx-auto">Qty</div>
	        <div class="text-center mx-auto">Total</div>
		</div>
      </thead>
      <tbody class="">
        {% for item in cart.items %}
          <div class="grid grid-cols-4 bg-green-400 mt-7 mx-[5vw]">
            <div class="mx-auto flex flex-col items-center gap-3 bg-blue-400">
              <a href="{{ item.url | within: collections.all }}">
                <img class="w-[120px]" src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
			    <div class="mx-auto text-center">
	              <a href="{{ item.url }}">{{ item.product.title }}</a>
	              {{ item.variant.title }}
	              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
	            </div>
            </div>
            
            <div class="flex justify-center">{{ item.price | money }}</div>
            <div class="flex justify-center items-start mx-12" >
              <input type="number" name="updates[]" style="border: 2px solid black;" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </div>
            <div class="flex justify-center">
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </div>
          </div>
        {% endfor %}
      </tbody>
    </table>
    <div class="flex justify-end items-center gap-7 mt-5 mx-[5vw]">
	  <p class="text-3xl text-[#52BE80] font-bold">{{ product.metafields.custom.discount }} dsds</p>
      <p>Sub Total : {{ cart.total_price | money }}</p>
      {% comment %} <button type="submit" name="update" class="bg-[black] text-white px-5 py-3">Update</button> {% endcomment %}
      {% comment %} <button type="submit" name="checkout" class="bg-[black] text-white px-5 py-3">Checkout</button> {% endcomment %}
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}
</div>


