{% paginate search.results by 10 %}
 <section class="h-[80vh] flex-col flex gap-12 justify-center items-center px-12">
	<div class="flex items-center justify-center relative">
		<form action="/search" method="get" role="search" class="flex justify-center items-center gap-2">
		<input type="search" name="q" class="py-2.5 btn" value="{{ search.terms | escape }}" id="search-input">
		<ul class="search-results" id="search-results">
	      {% for item in search.results %}
	        <li>
	          <a href="{{ item.url }}">
	            {{ item.title | escape }}
	          </a>
	        </li>
	      {% endfor %}
	    </ul>
		<button type="submit" class="bg-[black] text-white px-5 py-3">Search</button>
		  </form>
	  </div>

	  	
	
	  <div class="flex items-center justify-center gap-12">
		{% if search.performed %}
			{% for item in search.results %}
			  {% if item.featured_image %}
				<a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
				  {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
				</a>
			  {% endif %}
			  <h5>{{ item.title | link_to: item.url }}</h5>
			  <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
			{% else %}
			  no results
			{% endfor %}
		  {% endif %}
	  </div>
 </section>
  

  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}

<style>
	.btn {
		border: 2px solid gray;
	}

	.search-results {
	  display: none;
	  position: absolute;
	  background: #fff;
	  border: 1px solid #ccc;
	  max-height: 200px;
	  overflow-y: auto;
	}

	/* Style the list items within the search results dropdown */
	.search-results li {
	  padding: 5px;
	}

	/* Display search results when the input field is focused */
	#search-input:focus + .search-container .search-results {
	  display: block;
	}
</style>


<script>
	document.getElementById('search-input').addEventListener('blur', function() {
	  // Hide search results when the input field loses focus
	  document.getElementById('search-results').style.display = 'none';
	});
</script>